@import "./mixin/fonts";

@include font-face('KaiseiOpti', '../fonts/KaiseiOpti-Regular.ttf', null, null, ttf);

$headerHeight: 100px;
$headerHeight_sp: 70px;

$pudding: #fffacd;
$pudding_shadow_color: #834a24;
$pudding_shadow: 0 4px 0 $pudding_shadow_color;

$pudding_outer: #fffacd;
$puddingSource: #bd7e53;

$rotateDeg: 8deg;
$listHoverScale: scale(1.1, 1.1);

// ブレイクポイントを指定
$pc: 1420px;
$tab: 970px;
$sp: 740px;

@mixin pc {
  @media screen and (max-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media screen and (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

@keyframes purupuru {
    0% {
        transform: rotate($rotateDeg) $listHoverScale;
    }
    25% {
        transform: rotate(-$rotateDeg) $listHoverScale;
    }
    50% {
        transform: rotate($rotateDeg) $listHoverScale;
    }
    75% {
        transform: rotate(-$rotateDeg) $listHoverScale;
    }
    100% {
        transform: rotate($rotateDeg) $listHoverScale;
    }
}

body {
    padding-top: $headerHeight;
    background-color: $pudding_outer;
    font-family: "KaiseiOpti";
    @include sp {
        padding-top: $headerHeight_sp;
    }
}

header {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 40px;
    width: 100%;
    height: $headerHeight;
    background: $puddingSource;
    display: flex;
    @include sp {
        padding: 0 20px;
        height: $headerHeight_sp;
    }
    .header-l {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        // background-color: #DDD;
        @include tab {
            width: 80%;
        }
        img {
            height: 35px;
        }
        h1#siteTitle {
            font-size: 35px;
            font-weight: bold;
            color: $pudding;
            text-shadow: $pudding_shadow;
            @include pc {
                font-size: 28px;
            }
            @include sp {
                font-size: 21px;
            }
        }
    }
    .header-r {
        width: 60%;
        height: 100%;
        // background-color: #666;
        @include tab {
            width: 20%;
        }
        ul {
            width: 100%;
            height: 100%;
            display: flex;
            // justify-content: space-between;
            justify-content: flex-end;
            align-items: center;
            // background-color: red;
            @include tab {
                display: none;
            }
            li {
                margin-left: 100px;
                font-size: 24px;
                // font-weight: bold;
                color: $pudding;
                text-shadow: $pudding_shadow;
                cursor: pointer;
                transition: all .1s ease;
                &:hover {
                    // color: $pudding_hover;
                    font-weight: bold;
                    animation: purupuru .8s ease infinite;
                }
                @include pc {
                    margin-left: 70px;
                    font-size: 22px;
                }
            }
        }
    }
}

main {
    margin: 0 auto;
    // width: 75%;
    width: 1420px;
    background-color: $pudding;
    @include pc {
        width: 100%;
    }
    #mainvisual {
        position: relative;
        width: 100%;
        // height: calc(100vh - $headerHeight);
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
        }
        p {
            position: absolute;
            top: 30px;
            right: 100px;
            font-size: 100px;
            color: $pudding;
            text-shadow: $pudding_shadow;
            @include tab {
                top: 25px;
                right: 70px;
                font-size: 80px;
            }
            @include sp {
                top: 10px;
                right: 15px;
                font-size: 40px;
            }
        }
    }

    .sections {
        margin: 0 auto;
        padding-top: 60px;
        width: 100%;
        @include pc {
            width: 90%;
        }
        color: $pudding_shadow_color;
        h2 {
            margin-bottom: 20px;
            font-size: 30px;
            &::before {
                content: "◆";
            }
            @include sp {
                font-size: 25px;
            }
        }
        .section-content {
            // padding: 20px;
            width: 100%;
            // background-color: #CCC;
        }
    }

    .pudding-top {
        width: 100%;
        height: 30px;
        background-color: $puddingSource;
        border-radius: 16px 16px 0 0;
        @include sp {
            height: 20px;
        }
    }

    .pudding-body {
        border: 2px solid $puddingSource;
        border-top: none;
        border-radius: 0 0 16px 16px;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    #profile {
        .profile-list {
            padding: 30px 30px 0 30px;
            @include sp {
                padding: 15px 15px 0 15px;
            }
            li {
                margin-bottom: 30px;
                font-size: 25px;
                @include sp {
                    font-size: 20px;
                }
                p {
                    line-height: 40px;
                    overflow-wrap: break-word;
                    .list-title {
                        line-height: 55px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    
    #history {
        .pudding-body {
            p {
                padding: 30px;
                font-size: 25px;
                line-height: 55px;
                @include sp {
                    padding: 15px;
                    font-size: 20px;
                }
            }
        }
    }

    #works {
        .flex-container {
            justify-content: space-between;
            // background-color: #DDD;
            &::before {
                content: "";
                display: block;
                width: 22%;
                order: 1;
                @include tab {
                    width: 31%;
                }
                @include sp {
                    width: 100%;
                }
            }
            &::after {
                content: "";
                display: block;
                width: 22%;
                @include tab {
                    width: 31%;
                }
                @include sp {
                    width: 100%;
                }
            }
            .flex-item {
                margin-bottom: 40px;
                width: 22%;
                height: 350px;
                cursor: pointer;
                // background-color: red;
                &:hover {
                    .pudding-body {
                        background-color: #fff6a9;
                    }
                }
                @include tab {
                    width: 31%;
                }
                @include sp {
                    width: 100%;
                }
                .pudding-top {
                    height: 24px;
                }
                .pudding-body {
                    padding: 20px 0;
                    height: calc(100% - 20px);
                    transition: all .1s ease;
                    display: flex;
                    flex-direction: column;
                    // justify-content: space-between;
                    align-items: center;
                    .work-img {
                        margin-bottom: 20px;
                        width: 90%;
                        height: 50%;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                    .work-title {
                        width: 95%;
                        font-size: 24px;
                        text-align: center;
                        @include sp {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    
    #contact {
        .pudding-body {
            p {
                padding: 30px;
                font-size: 25px;
                // line-height: 55px;
                line-height: 30px;
                @include sp {
                    padding: 15px;
                    font-size: 20px;
                }
                #phone {
                    display: inline-block;
                    margin-bottom: 35px;
                }
            }
        }
    }
}

footer {
    margin-top: 60px;
    width: 100%;
    height: $headerHeight;
    background-color: $puddingSource;
    display: flex;
    justify-content: center;
    align-items: center;
    #copyright {
        font-size: 18px;
        color: $pudding;
        text-shadow: $pudding_shadow;
    }
}

#modalOverlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1500;
}

#modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 12.5%);
    // transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background-color: $pudding;
    z-index: 2000;
    @include sp {
        width: 90vw;
        height: 70vh;
    }
    #modalWrap {
        padding-top: 65px;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
        button.modal-close {
            position: fixed;
            top: 20px;
            right: 30px;
            font-size: 40px;
        }
        #workTitle_Modal {
            margin-bottom: 30px;
            width: 100%;
            text-align: center;
            font-size: 32px;
            @include sp {
                font-size: 25px;
            }
        }
        #workImg_Modal {
            margin: 0 auto;
            margin-bottom: 40px;
            width: 80%;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
        #workExplanation_Modal {
            margin: 0 auto;
            margin-bottom: 60px;
            width: 80%;
            text-align: center;
            font-size: 25px;
            @include sp {
                font-size: 20px;
            }
        }
        #pageUrl_Modal, #gitUrl_Modal {
            margin: 0 auto;
            width: 80%;
            margin-bottom: 40px;
            a {
                color: #1ea5ff;
                text-align: center;
                font-size: 25px;
                @include sp {
                    font-size: 22px;
                }
                &:hover {
                    // color: $pudding_hover;
                    font-weight: bold;
                    border-bottom: #1ea5ff 2px solid;
                }
                &::before {
                    content: "◎";
                }
            }
        }
    }
}
